langchain==0.2.3
langchain-community==0.2.3
langchain-huggingface==0.0.9
langchain-ollama==0.1.2
faiss-cpu==1.7.4
sentence-transformers==2.2.2
fastapi==0.111.0
uvicorn==0.30.1
tqdm==4.66.4
transformers==4.43.2
numpy==1.26.4
scikit-learn==1.5.0
